.LoginBackground{
  background: url('../public/LoginBackground.png');
  display: flex;
  justify-content: center;
}

.Textbox{
  background-color: black;
  border-radius: 100px;
  opacity: 0.7;
}

.BackgroundFilter{
  background-color: white;
  border-radius: 10px;
}